.App {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/204/67/597/technics-design-technology-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  background-color: #eee;
  padding: 50px;
  border-radius: 20px;
}

button {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 8px;
  padding: 8px 15px;
  border-radius: 5px;
}

button:hover {
  background-color: blue;
  padding: 9px 16px;
}
